<nav class="adb-nav">
  <div class="container-fluid">
      <div class="adb-logo animate__animated animate__fadeIn">
          <a routerLink="/">Atithi Devo Bhava</a>
      </div>
      <div id="mainListDiv" class="adb-menu animate__animated animate__fadeIn">
          <ul class="navlinks">
            <li ><a routerLink="/home"  routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about"  routerLinkActive="active">About</a></li>
            <li><a routerLink="/features"  routerLinkActive="active"> Features</a></li>
            <li><a routerLink="/living"  routerLinkActive="active">Living</a></li>
            <li><a routerLink="/dinning"  routerLinkActive="active">Dinning</a></li>
            <li><a routerLink="/contact"  routerLinkActive="active">Contact</a></li>
          </ul>
      </div>
  </div>
</nav>
