<div class="adb-home-page-content">
  <div class="adb-home-motto">
    <h1 class="animate__animated animate__slideInLeft animate__delay-2s">Our motto: expect nothing but the best</h1>
  </div>
  <div class="layer"></div>

  <div class="container-fluid adb-booking-container animate__animated animate__slideInUp animate__delay-2s">
    <div class="row">
      <div class="col-lg-5">

      </div>
      <div class="col-lg-2">

      </div>
      <div class="col-lg-2">

      </div>
      <div class="col-lg-3 p-0">
        <button type="button" class="adb-book-now-btn">Book Now</button>
      </div>
    </div>
  </div>
</div>
